
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{{title}}</title>

  <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="css/style.css" >
    <script src="js/index.js"> </script>
    

  



  </head>
  <body>

    <div class="container">
      <br>
      <header class="header clearfix">
        <nav class="navbar  bg-light ">
          <ul class="nav nav-pills ">
            <li class="nav-item">
              <a class="nav-link  " href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/offers">Offers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  " href="/companies">Companies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  " href="/categories">Categories</a>
            </li>
          </ul>
        </nav>
        {{!-- <h3 class="text-muted">Project name</h3> --}}
      </header>
      
<br>

       {{{body}}}
       
<hr>

      

      <footer class="footer">
        <p>&copy; Company <script>document.write(new Date().getFullYear()) </script> </p>
      </footer>

    </div> <!-- /container -->
    </div>

  </body>
</html>
