<br>
<main role="main">
    <a href="/categories/add">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Create a Category
        </button>
    </a>
     <br>
    <br>

      <table class="table table-striped " style="
    table-layout: fixed;
    word-wrap: break-word;">
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Icon</th>
                

            </tr>
        </thead>
        <tbody>
            {{#each categories}}
            <tr>
                
                <td>{{ name }}</td>
                <td>{{ icon }}</td>
            
                <td class="pull-right">
                    <a href="/categories/edit/{{id}}" class="btn btn-dark btn-block "> <i class="fa fa-edit"></i> Edit</a>
                </td>
                 <td>
                    <form method="post" action="/categories/{{id}}?_method=DELETE">
                        <input type="hidden" name="_method" value="DELETE">
                         <input type="submit" class="btn btn-danger btn-block " value="Delete">
                    </form>
                </td>

            </tr>
            {{/each}}
        </tbody>
    </table>


</main>