<main role="main">
  <a href="/companies/add">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Create a Company
    </button> </a>

 <br>
    <br>

   <table class="table table-striped " style="
    table-layout: fixed;
    word-wrap: break-word;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Website</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {{#each companies}}
            <tr>
                <td>{{ name }}</td>
                <td><a href="{{ website }}">{{ website }}</a></td>
                <td>{{ country }}</td>
                 <td>
                    <a href="/companies/edit/{{id}}" class="btn btn-dark btn-block"><i class="fa fa-edit"></i> Edit</a>
                    
                </td>
                <td>
                     <form method="post" action="/companies/{{id}}?_method=DELETE">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" class="btn btn-danger btn-block" value="Delete">
                    </form>
                </td>
                
                   
                
            </tr>
            {{/each}}
        </tbody>
    </table>



</main>
