<br>
<main role="main">

  <div class="jumbotron">
    <h1 class="display-3">Valmir otron heading</h1>
    <p class="lead">Cras justo sssodio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
      nibh, ut fermentum massa justo sit amet risus.</p>
    <p>
      <a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a>
    </p>
  </div>


</main>