<main role="main">
    <a href="/offers/add">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Create an Offer
        </button>
    </a>

    <br>
    <br>

    <table class="table table-striped table-offers" style="
    table-layout: fixed;
    word-wrap: break-word;">
        <thead>
           <tr>
                <th >Title </th>
                <th >Website </th>
                <th> Logo </th>
                <th> Images </th>
            </tr>
        </thead>
        <tbody>
            {{#each offers}}
             <tr>
                <td>{{ title }}</td>
                <td> 
                    <a href="{{ website }}">{{ website }}</a>
                </td c>
                <td>
                    <a href="{{ logo }}">{{ logo }}</a>
                </td>
 
              
                <td>
                    <a href="/offers/edit/{{id}}" class="btn btn-dark btn-block "><i class="fa fa-edit"></i> Edit</a>

                </td>
                <td>
                    <form method="post" action="/offers/{{id}}?_method=DELETE">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" class="btn btn-danger btn-block" value="Delete">
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>


</main>