 {{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}} {{/each}}


<div class="card card-body">
  <form action="/offers" method="post">

    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" placeholder="Title of Offer" name="title">
    </div>
    <div class="form-group">
      <label for="website">Website</label>
      <input class="form-control" id="website" placeholder="Website of Company" name="website">
    </div>

    <div class="form-group">
      <label for="website">Ofertuesi</label>
      <input class="form-control" id="ofertuesi" placeholder="Ofertuesi" name="ofertuesi">
    </div>


  


    <div class="form-group">
      <label>logo</label>
      <input class="form-control" id="logo" placeholder="logo" name="logo">
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <div class="row">

        <div class="col-sm-4">
          <input type="location" class="form-control" id="location-lat" placeholder="Latitude" name="latitude">
        </div>

        <div class="col-sm-4">
          <input type="location" class="form-control" id="location-lon" placeholder="Lontitude" name="lontitude">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="orariPunes">Orari i Punes</label>
      <input class="form-control" id="orariPunes" placeholder="Hane - Shtune 05:00 - 20:10" name="orariPunes">
    </div>

    <div class="form-group">
      <label>NrTel</label>
      <input class="form-control" id="NrTel" placeholder="NrTel" name="nrTel">
    </div>



    <div class="form-group ">
      <label for="example-datetime-local-input" class="col-2 col-form-label">Skadon</label>

      <input class="form-control" type="date" id="example-datetime-local-input" name="skadon">
    </div>

    <div class="form-group">
      <label>Images</label>
      <input class="form-control" id="images" placeholder="images" name="images">
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>