<h2> Edit Offers</h2>
 {{#each errors}}
{{!-- <div class="alert alert-danger">{{text}}</div> --}}
{{else}} {{/each}}




<div class="card card-body">
  <form action="/offers/{{offers.id}}?_method=PUT" method="post">
  <input type="hidden" name="_method" value="PUT">

  <div class="form-group">
      <label for="title">Title</label>
      <input  class="form-control" id="title" placeholder="Title of Offer" name="title" value="{{offers.title}}">
    </div>
    <div class="form-group">
      <label for="website">Website</label>
      <input  class="form-control" id="website" placeholder="Website of Company" name="website" value="{{offers.website}}">
    </div>

        <div class="form-group">
      <label for="Ofertuesi">Ofertuesi</label>
      <input  class="form-control" id="ofertuesi" placeholder="Ofertuesi" name="ofertuesi" value="{{offers.ofertuesi}}">
    </div>


        <div class="form-group">
      <label>Logo</label>
       <input  class="form-control" id="logo" placeholder="logo" name="logo" value="{{offers.logo}}">
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <div class="row">

        <div class="col-sm-4">
          <input type="location" class="form-control" id="location-lat" placeholder="Latitude" name="latitude" value="{{offers.latitude}}">
        </div>

        <div class="col-sm-4">
          <input type="location" class="form-control" id="location-lon" placeholder="Lontitude" name="lontitude" value="{{offers.lontitude}}">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="orariPunes">Orari i Punes</label>
      <input  class="form-control" id="orariPunes" placeholder="Hane - Shtune 05:00 - 20:10" name="orariPunes" value="{{offers.orariPunes}}">
    </div>

       <div class="form-group">
      <label>NrTel</label>
       <input  class="form-control" id="NrTel" placeholder="NrTel" name="nrTel" value="{{offers.nrTel}}">
    </div>



  <div class="form-group ">
    <label for="example-datetime-local-input" class="col-2 col-form-label">Skadon</label>

    <input class="form-control" type="date"  id="example-datetime-local-input" name="skadon">
</div>

    <div class="form-group">
      <label for="exampleInputFile">Images</label>
       <input class="form-control" id="images" placeholder="images" name="images" value="{{offers.images}}">
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>