 {{#each errors}}
{{!-- <div class="alert alert-danger">{{text}}</div> --}}
{{else}} {{/each}}


<div class="card card-body">
  <form action="/categories" method="post">
  
    <div class="form-group">
      <label>Name</label>
      <input  class="form-control" placeholder="Name of Category" name="name">
    </div>

    <div class="form-group">
      <label >Icon</label>
      <input  class="form-control"  placeholder="Icon of Category" name="icon">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>