<h2> Edit Categories</h2>
 {{#each errors}}
{{!-- <div class="alert alert-danger">{{text}}</div> --}}
{{else}} {{/each}}


<div class="card card-body">
  <form action="/categories/{{categories.id}}?_method=PUT" method="post">
  <input type="hidden" name="_method" value="PUT">

    <div class="form-group">    
      <label>Name</label>
      <input  class="form-control" placeholder="Name of Category" name="name" value="{{categories.name}}">
    </div>

      <div class="form-group">
      <label>Icon</label>
      <input class="form-control" placeholder="Icon of Category" name="icon" value="{{categories.icon}}">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>