 {{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}} {{/each}}


<div class="card card-body">
  <form action="/companies" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" class="form-control" id="name" placeholder="Name of Company" name="name">
    </div>
    <div class="form-group">
      <label for="website">Website</label>
      <input type="website" class="form-control" id="website" placeholder="Website of Company" name="website">
    </div>

    <div class="form-group">
      <label for="orariPunes">Orari i Punes</label>
      <input  class="form-control" id="orariPunes" placeholder="Hane - Shtune 05:00 - 20:10" name="orariPunes">
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <div class="row">

        <div class="col-sm-4">
          <input type="location" class="form-control" id="location-lat" placeholder="Latitude" name="latitude">
        </div>

        <div class="col-sm-4">
          <input type="location" class="form-control" id="location-lon" placeholder="Lontitude" name="lontitude">
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="countrySelect">Country</label>
      <select class="form-control" id="countrySelect" name="country">
        <option value="KS"> Kosovo</option>
        <option value="AL"> Albania</option>
        <option value="MK"> Macedonia</option>
      </select>
    </div>

    <div class="form-group">
       <label for="logo">Logo</label>
      <input  class="form-control" id="logo" placeholder="Logo" name="logo">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>